.navbar {
    box-shadow: 2px 2px 2px 1px rgba(1, 0, 0, 0.2);
    text-shadow: 0.5px 0.5px !important;
  }
  .btn-register {
    border-radius: 15px !important;
    background-color: #a80707 !important;
    border-color: #a80707 !important;
    box-shadow: 2px 2px 2px 1px rgba(1, 0, 0, 0.2);
  }
  .btn-login {
    border-radius: 15px !important;
    box-shadow: 2px 2px 2px 1px rgba(1, 0, 0, 0.2);
  }
  .active {
    text-decoration: underline !important;
  }
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .navbar {
      text-align: center !important;
    }
    .btn-register {
      margin-top: 5px;
      width: 100%;
      border-radius: 25px !important;
      margin-bottom: 5px;
    }
    .btn-login {
      margin-bottom: 2px;
      width: 100%;
      border-radius: 25px !important;
    }
  }
  @media (min-width: 481px) and (max-width: 767px) {
    .navbar {
      text-align: center;
    }
    .btn-register {
      margin-top: 5px;
      width: 100%;
      border-radius: 25px !important;
      margin-bottom: 5px;
    }
    .btn-login {
      margin-bottom: 2px;
      width: 100%;
      border-radius: 25px !important;
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .navbar {
      text-align: center !important;
      width: 935px !important;
    }
  }
  