.container-title{
  position: absolute;
width: 567px;
height: 210px;
left: 143px;
top: 260px;
}

.slider{
  width: 1300px;
 height: 1300px;
  position: absolute;
  left: 735px;
  top: 350px;
  }


  .news-head{

    /* Últimas novedades */
    
    
    position: absolute;
    width: 308px;
    height: 48px;
    left: 143px;
    top: 1366px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;
    
    } 

   .containernews{
    position: absolute;
      left: 110px;
      top: 1440px;
      display: flex;
   }

