

.loginbody{
    position: absolute;
    left: -10rem;
    top: 390px;
}

  





  /* Medium devices (tablets, 768px and up) */
  @media (max-width: 768px) {
  
    }
    .loginbody{
        position: absolute;
        left: 1rem;
        top: 390px;
    }
/* Small devices (landscape phones, 576px and up) */
  @media (max-width: 576px) {
     
    .loginbody{
        position: absolute;
        left: 1px;
        top: 390px;
    }
    

  
  }
